<div class="bottom-container">
    <div class="rename-modules">
        <%- include('./rename_modules/rm01_name.ejs') %>
        <%- include('./rename_modules/rm02_replace.ejs') %>
        <%- include('./rename_modules/rm03_case.ejs') %>
        <%- include('./rename_modules/rm04_remove.ejs') %>
        <%- include('./rename_modules/rm05_add.ejs') %>
        <%- include('./rename_modules/rm06_folder_name.ejs') %>
        <%- include('./rename_modules/rm07_numbering.ejs') %>
        </div>
    </div>
</div>