<div class="bottom-container">
    <div class="rename-modules">
        <%- include('./rename_modules/rm01_name.ejs') %>
        <%- include('./rename_modules/rm02_replace.ejs') %>
        <%- include('./rename_modules/rm03_case.ejs') %>
        <%- include('./rename_modules/rm04_remove.ejs') %>
        <%- include('./rename_modules/rm05_add.ejs') %>
        </div>
    </div>

    <div class="button-container">
        <button class="action-button reset-btn" id="resetButton">Reset</button>
        <button class="action-button dry-run-btn" id="dryRunButton">Dry Run</button>
        <button class="action-button rename-btn" id="renameButton">Rename</button>
</div>
</div>